* { 
	margin: 0; 
	padding: 0; 
}
/****************Rajiv*******************/
tr{vertical-align:top !important;}
.error{color:red !important;float:left;margin-left:5px;width:300px;}
/*label.valid{background: url('../images/green_tick16.png') no-repeat;display:inline}*/
.elementerror{color:red ;float:left;margin-left:5px;width:400px;}
.elementvalid{background: url('../images/green_tick16.png') no-repeat;display:block;padding:10px;width:330px !important;margin-top:6px;}
input.error{border:1px solid red !important;}
.required{color:red;}
.col1{float:left;width:320px;clear:both;}
.col2{float:left;width:320px;margin-left:30px;}
.select{float:right !important;}
.center{text-align:center;}
.nav-tabs {
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#page-wrap>div{min-height:400px;}
.buttonmargin{margin-right:10px}
.leftmargin10{margin-left:10px;}
.login{min-height:350px !important;      
        margin: 14% auto 0 auto;
    	width: 40%;
		background-color: #d7d7d7;
				}
				
.download-builder .span7{
margin-top: 10%;
margin-left: 45%;
}	



.editpartner{
    margin-left: 45% !important;
    margin-top: 12%;
}

						
.reporttile{margin-left:10px;}

.form-signin-heading{
	margin-top: 20px !important;
}

.logincontent{

padding:6px 15px;
margin:6px 0;}
.loginform{width: 60% !important;
			padding-top: 10% !important;

}
.loginform label{width:77px !important;}
.input-block-level{width:200px !important;}
.noneditable{width:206px !important;margin-left:34px !important;}
.label_nonedit{width:122px !important;}
.row{width:850px;clear:both;}
.col1 label,.col2 label{width:100px !important;}
.logoimg{padding: 14px 1px 0 0px;}
.sort_active{background-color:#444444 !important;background-image:none !important;}
.sort_deactive a{color:white !important;}
.sort_active a{color:white !important;}
h1, h2, h3, h4, h5, h6 {
color: gray !important;
}

/*****************Rajiv*****************/
body { 
	font: 14px/1.4 Georgia, Serif; background:#000; 
	color: gray !important;
}
.tabarea{background:#f5f5f5;}
.tab1table_style{width:98%; margin:0 auto;}
.requestcall{word-break: break-word;
width: 260px;
display: inline-block;
border-bottom: none;border-left:none;border-right:none;min-height:10px;}
#page-wrap {
	margin: 25px;
}
.fr{float:right;}
.fl{float:left;}
.clear{clear:both;}
/* header */
 .black-header {
	background-color: #000;
	border-color: transparent;
	filter: none;

}
.debug-color {
	background-color: red;
}
.debug-color.green {
	background-color: green;
}
.debug-color.blue {
	background-color: blue;
}
.debug-color.yellow {
	background-color: yellow;
}
/* remove navbar rounder border*/
 .navbar-inner {
	border-radius: 0px !important;
	border: 0px !important;
	background-color: #000 !important;
	background-image: none !important;
	filter: none !important;	
	padding-left: 0;
	padding-right: 0;
	height: 56px;
	text-align: center;

}
.navbar-icon-buttons {
}
.navbar.low-bottom-margin {
	margin-bottom: 3px;
}
.nav-user {
	background-position: 0 0;
}
.nav-help {
	background-position: 101px 0;
}
.nav-logout {
	background-position: 51px 0;
}
.navbar-btn {
	background-image: url("../images/navigation_icons.png");
	width: 46px;
	height: 64px;
	display: inline-block;
}
.navbar-btn:hover {
	background-position-y: -61px;
}
.logo {
	 padding-left: 6px;
    padding-top: 6px;
}
.nav-text {
	font-size: 14px;
	color: #0CA8C7;
	vertical-align: top;
	line-height: 58px;
}
.nav-text.name-text {
	color: #999;
	font-weight: 600;
	padding-right: 21px;
}
.mainnav-tabs > li > a, .mainnav-pills > li > a {
    color: #4D4C4C;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 2px;
    outline: medium none;
    padding-left: 18px;
    padding-right: 18px}
.mainnav-pills > li > a {
    border-radius: 0 0 0 0;
    margin-bottom: 0;
    margin-right: 0 !important;
    margin-top: -2px;
    padding-bottom: 9px;
    padding-top: 11px;
    width: auto;
	text-decoration:none;
}	
.mainnav {
    border-bottom: 1px solid #717171;
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -3px;
    padding: 0 0 34px 3px;}
.mainnav-tabs > li, .mainnav-pills > li {
    /* border-left: 1px solid #A2CCDD; */
    float: left;
    height: 27px;
    left: 22px;
    list-style: none outside none;
    margin: 0;
    padding: 8px 0 0 !important;
    position: relative;}
.mainnav-pills > .active > a, .mainnav-pills > .active > a:hover, .mainnav-pills > .active > a:focus {
    background: #7c7c7c; /* Old browsers */
background: -moz-linear-gradient(top,  #7c7c7c 0%, #323333 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#323333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7c7c7c 0%,#323333 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7c7c7c 0%,#323333 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7c7c7c 0%,#323333 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7c7c7c 0%,#323333 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#323333',GradientType=0 ); /* IE6-9 */
color:#fff; 
}
.mainnav-pills > .active > a, .mainnav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #4D4C4C;
    color: #FFFFFF;
    text-decoration: none;}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
	background-color: #e4e4e4;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(226, 226, 226, 1)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%); 
	}
	tr:nth-of-type(even) { 
	background-color: #e4e4e4;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(226, 226, 226, 1)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
	}
	th { 
		background: #7c7c7c; /* Old browsers */
background: -moz-linear-gradient(top,  #468bd1  0%, #336699  100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#323333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #468bd1 0%,#336699 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #468bd1 0%,#336699 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #468bd1 0%,#336699 100%); /* IE10+ */
background: linear-gradient(to bottom,  #468bd1 0%,#336699 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#468bd1', endColorstr='#336699',GradientType=0 ); /* IE6-9 */
		color: #fff; 
		font-weight: bold; 
	}
	td, th { 
		padding: 3px; 
		border: 1px solid #ccc; 
		text-align: left; }
#page-footer {
    clear: both;
    color: #4B4B4B;
    float: left;
    font-size: 1em;
    height: auto;
    line-height: 2em;
    margin: 0;
    padding: 1%;
    width: 97.2%;	}
	
#page-footer {
    color: #4B4B4B;
    font-size: 1em;
    line-height: 2em;}
#page-footer .footer-right {
    float: right;
    text-align: right;}	
.btn_position{padding: 0 0 0 156px;}
.sortingOn {width:16px;height:16px;z-index:1;background:url(../images/sortingicon.png) 0 0 no-repeat;display: inline-block;vertical-align: bottom;}
.sortingOff {width:16px;height:16px;z-index:1;background:url(../images/sortingicon.png) 0 -16px no-repeat;display: inline-block;vertical-align: bottom;} 

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: pointer !important;
}