<?php include "header.html";?>
<link rel="stylesheet" href="<?php echo CSSURL?>/cupertino/jquery-ui.css" />
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jqueryui/jquery-ui.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script src="<?php echo JSURL?>/customer.js"></script>
<script>
$(function() {
		$( "#sStartDate" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange:'2015:2025',
		minDate: 0
	});
});
$(function() {
		$( "#sEndDate" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange:'2015:2025',
		minDate: 0
	});
	});
function display_option(val)
{
	if (val=='Subnet Mask')
	{
		document.getElementById('subNetMask').style.display='';
		document.getElementById('inRange').style.display='none';
		document.getElementById('multipleIp').style.display='none';
	}
	if (val=='Multiple IP')
	{
		document.getElementById('subNetMask').style.display='none';
		document.getElementById('multipleIp').style.display='';
		document.getElementById('inRange').style.display='none';
	}
	if (val=='In Range')
	{
		document.getElementById('subNetMask').style.display='none';
		document.getElementById('multipleIp').style.display='none';
		document.getElementById('inRange').style.display='';
	}
	if (val=='IP')
	{
		document.getElementById('subNetMask').style.display='none';
		document.getElementById('multipleIp').style.display='none';
		document.getElementById('inRange').style.display='none';
	}
}
</script>
	<div id="page-wrap">
	<div>
		<div class="row download-builder">
			<div class="span7">
				<h3>Add Partner</h3>
				<form id='signupForm' method="post" action="?action=savecustomer">
					<?php if(isset($error)){?>
					<p class='error'><?php echo $error;?></p>
					<?php } ?>
					<div  class='row'>					
						<label>Customer Name<span class='required'>*</span></label>
						<input type="text" id='sCustName' name='sCustName' placeholder="" class="span3">
					</div>
					
					<div  class='row'>
						<label>Email Address<span class='required'>*</span></label>
						<input type="text" id='sCustEmail' name='sCustEmail' placeholder="" class="span3" >
					</div>
					<div  class='row'>
						<label>Subscription type<span class='required'>*</span></label>
						<select name='sSubsTrial' id='sSubsTrial'>
							<option value='Trial'>Trial</option>
							<option value='Subscribed'>Subscribed</option>
						</select>
					</div>
					<div  class='row'>
						<label>Start Date<span class='required'>*</span></label>
						<input readonly type="text"  id='sStartDate' name='sStartDate' placeholder="mm/dd/yyyy" class="span3" >
					</div>
					<div  class='row'>
						<label>End Date<span class='required'>*</span></label>
						<input readonly type="text"  id='sEndDate' name='sEndDate' placeholder="mm/dd/yyyy" class="span3">
					</div>
					<div  class='row'>
						<label>IP <span class='required'>*</span></label>
					
						<select name='sIpOption' id='sIpOption' onChange="display_option(this.value);">
							<option value=''>Select Option</option>
							<option value='IP' <?php if( $aData['sIpOption']=='IP') echo "selected='selected'";?>>IP</option>
							<option value='Subnet Mask' >Subnet Mask</option>
							<option value='Multiple IP' >Multiple IP</option>
							<option value='In Range' >In Range</option>
						</select> 
					</div>
					
					<div  class='row'>
						<label></label>
						<input type="text" id='sCustomerIP' name='sCustomerIP' class="span3" >
						<label id="subNetMask" style="display:none;">Please add IP Address like ***.*.*.***/**,***.*.*.***/** </label>
						<label id="multipleIp" style="display:none;">Please add IP Address like ***.*.*.***,***.*.*.***</label>
						<label id="inRange" style="display:none;">Please add IP Address like ***.*.*.*** - ***.*.*.***</label>
					</div>
					<div  class='row'>
						<label>Status<span class='required'>*</span></label>
						<select name='sStatus' id='sStatus'>
							<option value='Active'>Active</option>
							<option value='Deactivate'>Inactive</option>
						</select>
					</div>
					
					
					<div  class='row'>
						<label>&nbsp;</label>
						<div class="fl buttonmargin"><button class="btn" type="submit">Save</button></div>
						<div class=""><button class="btn" type="button" onclick="window.location.href='customer.php'">Cancel</button></div>
					</div>
				</form>
			</div>			 
		</div>
	</div>
	</div>
<?php include "footer.html";?>
	