<?php include "header.html";?>
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script src="<?php echo JSURL?>/user.js"></script>
	<div id="page-wrap">
	<div>
		<div class="row download-builder">
			<div class="span3">
				<h3>Add Administrator</h3>
				<form id='signupForm' method="post" action="?action=saveuser">
					<?php if(isset($error)){?>
					<p class='error'><?php echo $error;?></p>
					<?php } ?>
					<div  class='row'>
						<label>User Name<span class='required'>*</span></label>
						<input type="text" id='sUserName' name='sUserName' value="<?php echo $aData['sUserName']?>" placeholder="" class="span3">
					</div>
					<div  class='row'>
						<label>Password<span class='required'>*</span></label>
						<input id='sPassword' type="password" name='sPassword' placeholder="" class="span3" >
					</div>
					<div  class='row'>
						<label>Confirm Password<span class='required'>*</span></label>
						<input id='sConfirmPassword' type="password" name='sConfirmPassword' placeholder="" class="span3">
					</div>
					<div  class='row'>
						<label>First Name<span class='required'>*</span></label>
						<input id='sFirstName' type="text" name='sFirstName' placeholder="" class="span3" value="<?php echo $aData['sFirstName']?>">
					</div>
					<div  class='row'>
						<label>Last Name<span class='required'>*</span></label>
						<input id='sLastName' type="text" name='sLastName' placeholder="" class="span3" value="<?php echo $aData['sLastName']?>">
					</div>
					<div  class='row'>
						<label>Email Address<span class='required'>*</span></label>
						<input id='sCustEmail' type="text" name='sCustEmail' placeholder="" class="span3" value="<?php echo $aData['sCustEmail']?>">
					</div>
					<div  class='row'>
						<label>Contact Number</label>
						<input type="text" name='sContact' placeholder="" class="span3" value="<?php echo $aData['sContact']?>">
					</div>
					<div  class='row'>	
						<label>&nbsp;</label>
						<div class=" fl buttonmargin"><button class="btn" type="submit">Save</button></div>
						<div class="fl"><button class="btn" type="button" onclick="window.location.href='user.php'">Cancel</button></div>
					</div>
				</form>
			</div>			 
		</div>
	</div>
	</div>
<?php include "footer.html";?>
	