<?php include "header.html";?>
<script>
var click_id = "<?php echo $class?>";
var ordertype = "<?php echo $orderbytype?>";
function confirmbox(url,status){
	if(status=='active')
		msg='Are you sure you want to inactivate this record?';
	else
		msg='Are you sure you want to activate this record?';
	if(confirm(msg)){
		window.location.href=url;
	}
	else{
		return false;
	}
	return false;
}
</script>
<script src="<?php echo JSURL?>/common.js"></script>
	<div id="page-wrap">
	<div>
	<div class='fr clear'><button type="submit" class="btn" onclick="window.location.href='?action=addcustomer'">Add Customer</button></div><br/><br/>
	<?php if($acustomerDetails){
	?>
    <table>
		<thead>
		<tr>
			<th id='customer' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=customer&ordertype=<?php echo $partnertype?>">Customer Name <span class="sortingOn"></span></a></th>
			<th id='ip' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=type&ordertype=<?php echo $subscriptiontype?>" >Subscription<span class="sortingOn"></span></a></th>
			<th id='ip' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=ip&ordertype=<?php echo $ipaddresstype?>" >IP<span class="sortingOn"></span></a></th>
			<th id='emailid' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=emailid&ordertype=<?php echo $emailidtype?>" >Email Address<span class="sortingOn"></span></a></th>
			<th id='expirydate' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=expirydate&ordertype=<?php echo $expirydatetype?>" >Expiry Date<span class="sortingOn"></span></a></th>
			<th id='customertatus' class='sort_deactive'><a href="?action=main<?php echo $query_string_temp?>&orderby=customertatus&ordertype=<?php echo $customertatustype?>" >Status<span class="sortingOn"></span></a></th>
			<th>Action</th>			
		</tr>
		</thead>
		<?php 
		foreach($acustomerDetails as $aCustomerDetail){
		?>
			<tr>
				<td><?php echo $aCustomerDetail['sCustName'];?></td>
				<td><?php echo $aCustomerDetail['sSubsTrial'];?></td>
				<td><?php echo $aCustomerDetail['sCustomerIP'];?></td>
				<td><?php echo $aCustomerDetail['sCustEmail'];?></td>
				<td><?php echo $oAdminCommon->get_date_format($aCustomerDetail['sEndDate']);?></td>
				<td><?php if($aCustomerDetail['sStatus']=="Active") echo "Active"; else echo "Inactive";?></td>
				<td><a href='?action=editcustomer&id=<?php echo $aCustomerDetail['id']?>&page=<?php echo $page+1?>'>Edit</a></td>
			</tr>
		<?php } ?>		
		</tbody>
	</table>
	<div class='fr'><?php echo $sPaginationLink?></div>
	<?php } 
	else{?>
		<b>Customer Not Found!</b>
	<?php } ?>
	</div>
	</div>
<?php include "footer.html";?>
	