<?php include "header.html";?>
<link rel="stylesheet" href="<?php echo CSSURL?>/cupertino/jquery-ui.css" />
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jqueryui/jquery-ui.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script src="<?php echo JSURL?>/customer.js"></script>
<script>

$(function() {
		$( "#sStartDate" ).datepicker({
		changeMonth: true,
		changeYear: true,
		yearRange:'2015:2025',
		minDate: 0
	});
});
	$(function() {
			$( "#sEndDate" ).datepicker({
			changeMonth: true,
			changeYear: true,
			yearRange:'2015:2025',
			minDate: 0
		});
		
	});
	

function display_option(val)
{
	if (val=='Subnet Mask')
	{
		document.getElementById('subNetMask').style.display='';
		document.getElementById('inRange').style.display='none';
	}
	if (val=='In Range')
	{
		document.getElementById('subNetMask').style.display='none';
		document.getElementById('inRange').style.display='';
	}
	if (val=='IP')
	{
		document.getElementById('subNetMask').style.display='none';
		document.getElementById('inRange').style.display='none';
	}
}
</script>
	<div id="page-wrap">
	<div>
		<div class="row download-builder">
			<div class="span3 editpartner">
				<h3>Edit Partner</h3>
				<form id='signupForm' method="post" action="?action=updatecustomer">
					<?php if(isset($error)){?>
					<p class='error'><?php echo $error;?></p>
					<?php } ?>
					<div  class='row'>					
						<label>Customer Name<span class='required'>*</span></label>
						<input type="text" id='sCustName' name='sCustName' value="<?php echo $aData['sCustName']?>" placeholder="" class="span3">
					</div>
					<div  class='row'>
						<label>Email Address<span class='required'>*</span></label>
						<input type="text" id='sCustEmail' name='sCustEmail' placeholder="" class="span3" value="<?php echo $aData['sCustEmail']?>">
					</div>
					<div  class='row'>
						<label>Subscription type<span class='required'>*</span></label>
						<select name='sSubsTrial' id='sSubsTrial'>
							<option value='Trial' <?php if( $aData['sSubsTrial']=='Trial') echo "selected='selected'";?>>Trial</option>
							<option value='Subscribed'<?php if( $aData['sSubsTrial']=='Subscribed') echo "selected='selected'";?>>Subscribed</option>
							
						</select>
					</div>
					<div  class='row'>
						<label>Start Date<span class='required'>*</span></label>
						<input readonly type="text"  id='sStartDate' name='sStartDate' placeholder="mm/dd/yyyy" class="span3" value="<?php echo $aData['sStartDate']?>" >
					</div>
					<div class='row'>					
						<label>End Date<span class='required'>*</span></label>
						<input readonly type="text" id='sEndDate' name='sEndDate' placeholder="mm/dd/yyyy" class="span3" value="<?php echo $aData['sEndDate']?>">
					</div>
					<div  class='row'>
						<label>IP <span class='required'>*</span></label>
						<select name='sIpOption' id='sIpOption' onChange="display_option(this.value);">
							<option value=''>Select Option</option>
							<option value='IP' <?php if( $aData['sIpOption']=='IP') echo "selected='selected'";?>>IP</option>
							<option value='Subnet Mask' <?php if( $aData['sIpOption']=='Subnet Mask') echo "selected='selected'";?>>Subnet Mask</option>
							<option value='Multiple IP' <?php if( $aData['sIpOption']=='Multiple IP') echo "selected='selected'";?>>Multiple IP</option>
							<option value='In Range' <?php if( $aData['sIpOption']=='In Range') echo "selected='selected'";?> >In Range</option>
						</select> 
					</div>
					
					<div  class='row'>
						<label></label>
						<input type="text" id='sCustomerIP' name='sCustomerIP' class="span3" value="<?php echo $aData['sCustomerIP']?>" >
						<label id="subNetMask" style="display:none;">Please add IP Address like ***.*.*.***/**,***.*.*.***/** </label>
						<label id="multipleIp" style="display:none;">Please add IP Address like ***.*.*.***,***.*.*.***</label>
						<label id="inRange" style="display:none;">Please add IP Address like ***.*.*.***- ***.*.*.***</label>
					</div>
					
					<div  class='row'>
						<label>Status<span class='required'>*</span></label>
						<select name='sStatus' id='sStatus'>
							<option <?php if( $aData['sStatus']=='Active') echo "selected='selected'";?> value='Active'>Active</option>
							<option <?php if( $aData['sStatus']=='Inactive') echo "selected='selected'";?> value='Inactive'>Inactive</option>
						</select>
					</div>
					
					<div  class='row'>
						<label>&nbsp;</label>
						<input type="hidden" id='id' name="id" value="<?php echo $aData['id']?>" >
						<input type="hidden" name='page' value="<?php echo $page+2?>" >
						<div class="fl buttonmargin"><button class="btn" type="submit">Save</button></div>
						<div class=" "><button class="btn" type="button" onclick="window.location.href='?page=<?php echo $page+1?>'">Cancel</button></div>
					</div>
				</form>
			</div>			 
		</div>
	</div>
	</div>
<?php include "footer.html";?>
	