<?php include "header.html";?>
<link rel="stylesheet" href="<?php echo CSSURL?>/cupertino/jquery-ui.css" />
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jqueryui/jquery-ui.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script src="<?php echo JSURL?>/customer.js"></script>
	<div id="page-wrap">
	<div>
		<div class="row download-builder">
			<div class="span3">
				<h3>Edit Ip for Partner: <?php echo $aCustomerDtl[0]['sCustName'];?></h3>
				<form id='signupForm' method="post" action="">
					<?php if(isset($error)){?>
					<p class='error'><?php echo $error;?></p>
					<?php } ?>					
					<div  class='row'>
						<label>Server IP<span class='required'>*</span></label>
						<input type="text" id='sCustomerIP' name='sCustomerIP' placeholder="" class="span3" value="<?php echo $sIpAddress?>">
					</div>
					<div class='row' >						
						<label class='clear'>Total Failed Request</label>
						<label class='fl' ><?php echo $aData[0]['iNosFailedRequest']?></label>				
					</div>					
					<div  class='row'>
						<input type='hidden' name='customerid' value='<?php echo $customerid?>'>
						<label>&nbsp;</label>
						<div class="fl buttonmargin"><button class="btn" type="submit">Save</button></div>
						<div class="">
						<button class="btn" type="button" onclick="window.location.href='customer.php?action=customerip&customerid=<?php echo $customerid?>'">Cancel</button></div>
					</div>
				</form>
			</div>			 
		</div>
	</div>
	</div>
<?php include "footer.html";?>
	