<?php include "header.html";?>
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script src="<?php echo JSURL?>/user.js"></script>
	<div id="page-wrap">
	<div>
		<div class="row download-builder">
			<div class="span3">
				<h3>Edit Adminstrator</h3>
				<form id='signupForm' method="post" action="?action=updateuser">
					<?php if(isset($error)){?>
					<p class='error'><?php echo $error;?></p>
					<?php } ?>
					<div  class='row'>
						<label>User Name<span class='required'>*</span></label>
						<input id='sUserName' type="text" name='sUserName' value="<?php echo $aData['sUserName']?>" placeholder="" class="span3">
					</div>
					<div  class='row'>
						<label>Password<span class='required'>*</span></label>
						<input id='sPassword' type="password" name='sPassword' placeholder="" class="span3" value="<?php echo $aData['sPassword']?>" >
					</div>
					<div  class='row'>
						<label>Confirm Password<span class='required'>*</span></label>
						<input type="password" id='sConfirmPassword' name='sConfirmPassword' placeholder="" class="span3" value="<?php echo $aData['sPassword']?>">
					</div>
					<div  class='row'>
						<label>First Name<span class='required'>*</span></label>
						<input type="text" id='sFirstName' name='sFirstName' placeholder="" class="span3" value="<?php echo $aData['sFirstName']?>">
					</div>
					<div  class='row'>
						<label>Last Name<span class='required'>*</span></label>
						<input id='sLastName' type="text" name='sLastName' placeholder="" class="span3" value="<?php echo $aData['sLastName']?>">
					</div>
					<div  class='row'>
						<label>Email Address<span class='required'>*</span></label>
						<input id='sCustEmail' type="text" name='sCustEmail' placeholder="" class="span3" value="<?php echo $aData['sCustEmail']?>">
					</div>
					<div  class='row'>
						<label>Contact Number</label>
						<input type="text" name='sContact' placeholder="" class="span3" value="<?php echo $aData['sContact']?>">
					</div>
					<?php if($_SESSION['userID']!=$aData['id']){?>
						<div  class='row'>
							<label>Status<span class='required'>*</span></label>
							<select name='sStatus' id='sStatus'>
								<option <?php if( $aData['sStatus']=='acitve') echo "selected='selected'";?> value='active'>Active</option>
								<option <?php if( $aData['sStatus']=='inactive') echo "selected='selected'";?> value='inactive'>Inactive</option>
							</select>
						</div>
					<?php } ?>
					<div  class='row'>					
						<label class='label_nonedit'>Last Login</label>						
						<label class='span3 noneditable' > <?php $lastlogintime=$oAdminCommon->get_date_format($sLastLogin);echo empty($lastlogintime)?'Never':$lastlogintime;?>&nbsp;</label>										
					</div>
					<div  class='row'>
						<label>&nbsp;</label>
						<div class=" fl buttonmargin"><button class="btn" type="submit">Save</button></div>
						<div class="fl"><button class="btn" type="button" onclick="window.location.href='?page=<?php echo $page+1?>'">Cancel</button></div>
						<input type="hidden" id='id' name='id' value="<?php echo $aData['id']?>" >
						<input type="hidden" name='page' value="<?php echo $page+2?>" >
					</div>
				</form>
			</div>			 
		</div>
	</div>
	</div>
<?php include "footer.html";?>
	