<?php include "header.html";?>
 <script type="text/javascript">  
  $().ready(function() { 
//changes Amit for max count customer 

   $('#add').click(function() 
   {  
	   
		$("select#assigned_customers[multiple] option").prop("selected", "selected");
		var count = $('#unassigned_customers option:selected').length;
		 var count2 = $('#assigned_customers option:selected').length;
		 var count3=count+count2;
		$('#assigned_customers').css('border', '1px solid #727272'); 
    
	if(count==0)
	{
		alert('Please select one or more customer.');
	}
	
   if(count3 >30)
   {
		alert('Sorry! you can not move more than 30 customer.');
   }
   else
   {
		return !$('#unassigned_customers option:selected').remove().appendTo('#assigned_customers'); 
   }
     
   });  
   $('#remove').click(function() {  
   
		var count = $('#unassigned_customers option:selected').length;
		 var count2 = $('#assigned_customers option:selected').length;
	 if(count2==0)
	{
		alert('Please select one or more customer.');
	}
    return !$('#assigned_customers option:selected').remove().appendTo('#unassigned_customers');  
   });  
  });
 </script> 
 <style type="text/css">
.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}



</style>
 <!-- code start delete group by Amit Sharma -->
<script type="text/javascript">
$(function() {
$(".delete").click(function(){
var element = $(this);
var del_id = element.attr("id");

var info = 'id=' + del_id;
if(confirm("Are you sure you want to delete this?"))
{
 $.ajax({
	type: "POST",
	url: "delete_group.php",
	data: info,
	success: function(data){
		$('#row-'+del_id).remove();
	}
});
  
 }
return false;
});
});
</script>
<!-- code End delete group by Amit Sharma -->
 <!-- code start check group by Amit Sharma -->
<script>
function checkAvailability() {
	$('#record-message').remove();
	jQuery.ajax({
		url: "./check_availability.php",
		data:'username='+$("#group_name").val().trim(),
		type: "POST",
		dataType:'json',
		success:function(data){
			$("#user-availability-status").html(data.res_html);
			if(data.group_status!=1){
				$('#group_name').css('border','1px solid #727272');
				$('#user-availability-status').attr('data',data.group_status);
				$('#submit_button').prop( "disabled", false );
			} else {
				$('#group_name').css('border','1px solid #FF0000');
				$('#user-availability-status').attr('data',data.group_status);
				$('#submit_button').prop( "disabled", true );
			}
		},
		error:function (){}
	});
}
</script> 
<!-- code End check group by Amit Sharma -->
<script src="<?php echo JSURL?>/common.js"></script>
<div id="page-wrap">
	<div class="group">
		<div class='left-group'>
		<h4>Available Groups</h4>
		<?php 
		
		if($CustGrpArray){ 
		?>
		<table class="grp-table-head">
			<thead>
			<tr>
				<th id='customer' width="78%">Customer Group Name <span></span></th>
				<th width="22%">Action</th>			
			</tr>
			</thead>
		</table>
		<div class="group-box">
		<table class="grp-table">
			<tbody>
			<?php 
			foreach($CustGrpArray as $cgk=>$cgv)
			{	
				//Amit Sharma code for remove all option from list
				if($cgk!=0){
			?>
				<tr id="row-<?php echo $cgk;?>">
					<td width="80%"><?php echo $cgv;?></td>
					<td width="20%"><a href='?action=editgroup&id=<?php echo $cgk;?>&page=<?php echo $page+1?>'>Edit</a> |
					<a href="#" id="<?php echo $cgk; ?>" class="delete" title="Delete">Delete</a></td>
					
				</tr>
			<?php } } ?>		
			</tbody>
		</table>
		</div>
		<div class='fr'><?php echo $sPaginationLink?></div>
		<?php } else { ?>
			<b>Group Not Found!</b>
		<?php } ?>
		</div>
		<div class='right-group'>
		<h4>Add Group</h4>
			<form action="" method="post" id="frmGroup">
			
			<input type="hidden" name="action" value="savegroup">
				<table class="group-manager">
				<tr>
				<td colspan='2'><?php if($_GET['error']==1) { echo "<span class='status-not-available'> Group name already exists.</span>";} ?></td>
				</tr>
				<tr>
					<td>Group Name</td>
					<td><input type="text" name="group_name" class="input" onkeyup="checkAvailability();" onclick="checkAvailability();"  onselect="checkAvailability();" id="group_name" onblur="checkAvailability()" value=""><span id="user-availability-status"></span><span class='status-available' id="record-message"><?php if(isset($_GET['messageCode'])){ if($_GET['messageCode']==2){ echo "Group created successfully"; }else { echo "Group updated successfully"; } } ?></span> </td>
				</tr>
				<tr>
					<td>Customer</td>
					<td>
						<div class="boxgroup">
							<div class="box-title">Unassigned Customers</div>
							<select name="unassigned_customers[]" id="unassigned_customers" multiple>
							<?php 
								if(count($UnassignedCustArray)>0){
									foreach($UnassignedCustArray as $uck=>$ucv){
										echo "<option title='".$ucv."' value='".$uck."'>".$ucv."</option>";
									}
								}
							?>
							</select>  
						</div > 
						<div class="actgroup">
							<a href="#" id="add" class="linkgroupa">&raquo;</a> 
							<a href="#" id="remove" class="linkgroupa">&laquo;</a> 
						</div>
						<div class="boxgroup">  
							<div class="box-title">Assigned Customers</div>
							<select name="assigned_customers[]" id="assigned_customers" multiple size="30">
							</select>  
							
						</div>  
					</td>
				</tr>
				<tr>
					<td style="text-align: center;" colspan="2">
					<button class="btn" id="submit_button" type="submit">Save</button>
					<a class="btn" style="font-weight: normal;" href="<?php echo ADMINURL;?>/group.php">Cancel</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<script>
 $("#frmGroup").submit(function(event) {
      /* stop form from submitting normally */
	  $('#record-message').html('');
      event.preventDefault();
	$('#assigned_customers option').prop('selected', true);
	var group_name = $('#group_name').val().trim();
	var assigned_customers = $('#assigned_customers').val();

	if(group_name==''){
		alert("Please enter Group Name");
		$('#group_name').css('border','1px solid #FF0000');
		return false;
	} else {
		$('#group_name').css('border','1px solid #CCC');
	}
	if(assigned_customers==null) {
		alert("Please assign customer to the group");
		$('#assigned_customers').css('border','1px solid #FF0000');
		return false;
	} else {
		$('#assigned_customers').css('border','1px solid #CCC');
	}
	$('#submit_button').prop( "disabled", true );
	
	
    jQuery.ajax ({
		type: 'POST',
		url: '<?php echo ADMINURL;?>/group.php',
		data: {
			'action':'savegroup',
			'group_name': group_name,
			'assigned_customers': assigned_customers
		},
		dataType:'json',
		success: function(response) {
			if(response.messageCode==2){
				location.href=response.redirect_url;
			}
			if(response.error==1){
				$("#user-availability-status").html(response.messagegroup);
				$('#group_name').css('border','1px solid #FF0000');
			} else {
				$('#group_name').css('border','1px solid #CCC');
				$("#user-availability-status").html('');
			}
			
		}
	});
});
</script>
<?php include "footer.html";?>
	
