<?php include "header.html";?>
<link rel="stylesheet" href="<?php echo CSSURL?>/cupertino/jquery-ui.css" />
<script src="<?php echo JSURL?>/jquery-1.9.1.js"></script>
<script src="<?php echo JSURL?>/jqueryui/jquery-ui.js"></script>
<script src="<?php echo JSURL?>/jquery.validate.js"></script>
<script>
$(function () {
    $("#sStartDate").datepicker({
        numberOfMonths: 1,
                                changeMonth: true,
                                yearRange: "-20:+0",
                                changeYear: true,
                                dateFormat: 'yy-mm-dd',
                                maxDate: new Date,
        onSelect: function (selected) {
            var dt = new Date(selected);
           // dt.setDate(dt.getDate() + 1);
            $("#sEndDate").datepicker("option", "minDate", dt);
        }
    });
    $("#sEndDate").datepicker({
        numberOfMonths: 1,
                                changeMonth: true,
                                yearRange: "-20:+0",
                                changeYear: true,
                                dateFormat: 'yy-mm-dd',
                                maxDate: new Date,
        onSelect: function (selected) {
            var dt = new Date(selected);
           // dt.setDate(dt.getDate() - 1);
            $("#sStartDate").datepicker("option", "maxDate", dt);
        }
    });
});

/* Show hide date range and month range */
$(function() {
	var search_type = $('#search_type').val();
		if(search_type=='month'){
			$('#date_box').hide();
			$('#sStartDate').val('');
			$('#sEndDate').val('');
			$('#month_box').show();
			$('.year_box').show();
		} else {
			$('.year_box').hide();
			$('#date_box').show();
			$('#month_box').hide();

		}	
	$('#search_type').change(function(){
		
		var search_type = $(this).val();
		if(search_type=='month'){
			$('#sStartDate').val('');
			$('#sEndDate').val('');
			$('#date_box').hide();
			$('#month_box').show();
			$('.year_box').show();

		} else {
			$('#month_from').val('');
			$('#year_from').val('');
			$('#month_to').val('');
			$('#year_to').val('');
			$('.year_box').hide();
			$('#date_box').show();
			$('#month_box').hide();
		}
		$('#report_submit').prop('disabled', false);
	});
	
	$(document).on('click', '.cust-chk', function(){
		var total_check_boxes = $('.cust-chk').length;	
		var cnt_checked = 0;
		$( '.cust-chk' ).each(function() {
			var check_on = $(this).is(":checked");
			if(check_on==true){
				cnt_checked++;
			}
		});
		if (cnt_checked>0) {
			document.getElementById("selectall").checked = true;
			document.getElementById("customertitles").innerHTML = "Unselect ALL";
		} else {
			document.getElementById("selectall").checked = false;
			document.getElementById("customertitles").innerHTML = "Select ALL";
		}
		
		/* checking checkbox not more than 50 
		if(cnt_checked > 50){
			alert('Sorry! you cannot select more than 50 customer');
			$(this).attr('checked', false);
		}*/
	});

	
/* get customers by group */
	$('#customer-group').change(function(){
		var cust_grp = $(this).val();
		var totalCheckboxes = $('input:checkbox').length;
		
		
		 if(cust_grp ==0)
		{
				document.getElementById("selectall").checked = false;
				document.getElementById("customertitles").innerHTML = "Select ALL";
		}
		else{ 
			document.getElementById("selectall").checked = true;
			document.getElementById("customertitles").innerHTML = "Unselect ALL";
				}
				
		if(cust_grp!=''){
		
			$('.customer-box').show();
			jQuery.ajax ({
				type: 'POST',
				url: '<?php echo ADMINURL;?>/report.php',
				data: {
					'action':'get_customers_by_group',
					'group_id': cust_grp
				},
				dataType:'json',
				success: function(response) { 
					
					if(response.status=='success'){
						$('#customer-list').html(response.cust_html);
						if(cust_grp!=0)
						{
						$('#selectall').attr('checked', true);
						$('input:checkbox').attr('checked', true);
						}
					}
				}
			});
		} else {
			$('.customer-box').hide();
			$('#customer-list').html('');
		}
	});
	
/* check all script change by amit for max customer  */
 
 
	$('#selectall').change(function(){
		var totalCheckboxes = $('input:checkbox').length;
		$("input:checkbox").prop('checked', $(this).prop("checked"));
	    
		/*if(totalCheckboxes > 50){
			alert('Sorry! you cannot select more than 50 customer');
			$('#selectall').attr('checked', false);
		} else {
			$("input:checkbox").prop('checked', $(this).prop("checked"));
		}*/
		
		var check_on = $(this).is(":checked");
		if(check_on==true){
			$('#customertitles').text('Unselect All');
		} else {
			$('#customertitles').text('Select All');
		}
		
	});
	
});
/* year month validation */
function check_month_year(){
	var month_from = parseInt($('#month_from').val());
	var year_from = parseInt($('#year_from').val());
	var year_to = parseInt($('#year_to').val());
	var month_to = parseInt($('#month_to').val());
	if(year_from>year_to){
		alert('From Year can not be greater than Start Year');
		$('#year_to').css('border', '1px solid #FF0000');
		$('#report_submit').prop('disabled', true);
	} else if(month_from>month_to && year_from>=year_to){
		alert('Invalid Month/Year selection');
		$('#month_to').css('border', '1px solid #FF0000');
		$('#report_submit').prop('disabled', true);
	} else {
		$('#year_to').css('border', '1px solid #CCC');
		$('#month_to').css('border', '1px solid #CCC');
		$('#report_submit').prop('disabled', false);
	}
}
function PrintReport(elem)
{
	Popup($(elem).html());
}


function Popup(data) 
{
	var mywindow = window.open('', 'Anatomedia Report', 'height=600,width=800');
	mywindow.document.write("<html><head><title>Anatomedia Report</title>");
	mywindow.document.write("<link rel='stylesheet' href='<?php echo CSSURL;?>/style.css' type='text/css' />");
	mywindow.document.write("</head><body style='background:none;'><div class='print-area'>");
	mywindow.document.write(data);
	mywindow.document.write("</div></body></html>");
	
	mywindow.document.close(); // necessary for IE >= 10
	mywindow.focus(); // necessary for IE >= 10

	mywindow.print();
	mywindow.close();



	return true;
}
// Get report csv 
function get_report_csv(){
	jQuery.ajax ({
		type: 'POST',
		url: '<?php echo ADMINURL;?>/report.php',
		data: {
			'action':'get_csv',
			'report_type': '<?php echo $_REQUEST['search_type'];?>',		
			'subscriber': '<?php echo $_REQUEST['subscriber'];?>',		
			'customers': '<?php echo ($_REQUEST['page']!='') ? $_REQUEST['customers'] : implode(",", $_REQUEST['customers']);?>',		
			'month_from': '<?php echo $_REQUEST['month_from'];?>',		
			'year_from': '<?php echo $_REQUEST['year_from'];?>',		
			'month_to': '<?php echo $_REQUEST['month_to'];?>',		
			'year_to': '<?php echo $_REQUEST['year_to'];?>',		
			'sStartDate': '<?php echo $_REQUEST['sStartDate'];?>',		
			'sEndDate': '<?php echo $_REQUEST['sEndDate'];?>'
		},
		dataType:'json',
		success: function(response) { 
			window.location = response.file_path;
		}
	});
}

function get_report_print(){
	
	jQuery.ajax ({
		type: 'POST',
		url: '<?php echo ADMINURL;?>/report.php',
		data: {
			'action':'get_print',
			'report_type': '<?php echo $_REQUEST['search_type'];?>',		
			'subscriber': '<?php echo $_REQUEST['subscriber'];?>',		
			'customers': '<?php echo ($_REQUEST['page']!='') ? $_REQUEST['customers'] : implode(",", $_REQUEST['customers']);?>',		
			'month_from': '<?php echo $_REQUEST['month_from'];?>',		
			'year_from': '<?php echo $_REQUEST['year_from'];?>',		
			'month_to': '<?php echo $_REQUEST['month_to'];?>',		
			'year_to': '<?php echo $_REQUEST['year_to'];?>',		
			'sStartDate': '<?php echo $_REQUEST['sStartDate'];?>',		
			'sEndDate': '<?php echo $_REQUEST['sEndDate'];?>'
		},
		dataType:'html',
		success: function(response) { 
			$('.print_data').html(response);
			PrintReport('.print_data');
		}
	});
}
$( document ).ready(function(){
/* checking checked checkboxes on submit */
	var cnt_chkd = 0;
	$( '.cust-chk' ).each(function() {
		var chk_on = $(this).is(":checked");
		if(chk_on==true){
			cnt_chkd++;
		}
	});
	if (cnt_chkd>0) {
		document.getElementById("selectall").checked = true;
		document.getElementById("customertitles").innerHTML = "Unselect ALL";
	} else {
		document.getElementById("selectall").checked = false;
		document.getElementById("customertitles").innerHTML = "Select ALL";
	}	
});
</script>
<script>
function checkCustomer(){
	var cust_group = $('#customer-group').val();
	if(cust_group==''){
		alert('Please select Customer Group');
		$('#customer-group').css('border', '1px solid #FF0000');
		return false;
	} else {
		$('#customer-group').css('border', '1px solid #CCC');
	}
	var count = $("[type='checkbox']:checked").length;
	if(count==0){
		alert('Please select one or more customer.');
		return false;
	} else {
		return true;
	}
}
</script>
<style>
@media print {
th.report-table {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #468bd1 0%, #336699 100%) repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    -webkit-print-color-adjust: exact; 
}}

</style>
<script src="<?php echo JSURL?>/common.js"></script>
	<div id="page-wrap">
	<div>
	<div class='fr clear'></div>
	<div class="search-box">
		<div class="msg">
			<?php 
				if(count($ErrorArray)>0){
					echo "<ul>";
					foreach($ErrorArray as $errmsg){
						echo "<li class='err'>ERROR: ".$errmsg."</li>";
					}
					echo "</ul>";
				}
			?>
		</div>
		<form method="post" action="report.php" id="report_form" >
		
		<div class="filter-box">
			<!--<div class="form-field">
				<label>Report Type:</label>
				<ul class="rt">
					<li><input type="radio" name="report_type" value="sr">Summary Report</li>
					<li><input type="radio" name="report_type" value="dr" checked>Detailed Report</li>
				</ul>
			</div>
			<div class='clear'></div>-->
			<div class="form-field">
				<label>Search Type:</label>
				<select name="search_type" id="search_type">
					<option value="month" <?php echo ($_REQUEST['search_type']=='month' ? 'Selected' : '');?>>Monthly</option>
					<option value="date" <?php echo ($_REQUEST['search_type']=='date' ? 'Selected' : '');?>>Date Range</option>
				</select>
			</div>
			<div class='clear'></div>
			<div class="form-field">
				<label>Customer Group:</label>
				<select name="subscriber" id="customer-group">
					<option value="" >Choose Customer Group</option>
					<?php 
						foreach($CustGrpArray as $cgk=>$cgv){
							//Changes Amit Sharma for selected
							if(isset($_REQUEST['subscriber']))
							{
							$sel = ($cgk==$_REQUEST['subscriber'] ? 'Selected' : '');
							}
							echo "<option value='".$cgk."' ".$sel.">".ucfirst($cgv)."</option>";
						}
					?>
				</select>
			</div>
			<div class='clear'></div>
			<div class="form-field">
				<div id="month_box">
					<label>Month/Year Range:</label>
					<select name="month_from" id="month_from" style = "width: 80px;" onchange="check_month_year();">
						<option value="">Month</option>
						<?php
							foreach($MonthArray as $mk=>$mv){
								if(!empty($_REQUEST['month_from'])){
									$selected = ( $mk==$_REQUEST['month_from'] ? "Selected" : "" );
								} else {
									$selected = ( $mk==date('m') ? "Selected" : "" );
								}
								echo "<option value='".$mk."' ".$selected.">".substr($mv,0,3)."</option>";
							}
						?>
					</select>
					<div class="year_box">
						<select name="year_from" id="year_from" style="width:70px; margin-left: 10px;" onchange="check_month_year();">
						<option value="">Year</option>
							<?php for($i=2001;$i<=date('Y');$i++){
							if(!empty($_REQUEST['year_from'])){
								if($i==$_REQUEST['year_from']){ $sel = "Selected"; } else { $sel = ""; }
							} else {
								if($i==date('Y')){ $sel = "Selected"; }
								else { $sel = ""; }
							}
							echo "<option value='".$i."' ".$sel.">".$i."</option>";
							} ?>				
						</select>
					</div>
					<label style="width: auto; margin: 0px 10px;">to</label>
					<select name="month_to" id="month_to" style = "width: 80px;" onchange="check_month_year();">
					<option value="">Month</option>
						<?php
							foreach($MonthArray as $mk=>$mv){
								if(!empty($_REQUEST['month_to'])){
									$selected = ( $mk==$_REQUEST['month_to'] ? "Selected" : "" );
								} else {
									$selected = ( $mk==date('m') ? "Selected" : "" );
								}
								
								echo "<option value='".$mk."' ".$selected.">".substr($mv,0,3)."</option>";
							}
						?>
					</select>
					<div class="year_box">
						<select name="year_to" id="year_to" style="width:70px; margin-left: 10px;" onchange="check_month_year();">
						<option value="">Year</option>
							<?php for($i=2001;$i<=date('Y');$i++){
							if(!empty($_REQUEST['year_to'])){
								if($i==$_REQUEST['year_to']){ $sel = "Selected"; } else { $sel = ""; }
							} else {
								if($i==date('Y')){ $sel = "Selected"; }
								else { $sel = ""; }
							}
							echo "<option value='".$i."' ".$sel.">".$i."</option>";
							} ?>				
						</select>
					</div>

				</div>
				<div id="date_box">
					<label>Date Range:</label>
					<div class="date_cal_box">
						<label>Start Date</label>
						<input readonly type="text"  id='sStartDate' name='sStartDate' placeholder="yyyy-mm-dd" class="span3 input_small" value="<?php echo ($_REQUEST['sStartDate'] ? : '');?>">
					</div>
					<div class="date_cal_box">
						<label>End Date</label>
						<input readonly type="text"  id='sEndDate' name='sEndDate' placeholder="yyyy-mm-dd" class="span3 input_small" value="<?php echo ($_REQUEST['sEndDate'] ? : '');?>">
					</div>
				</div>
			</div>
			<div class='clear'></div>
			<div class="form-field" style="width: 43%;">
				<input type="submit" id="report_submit" name="report_submit" value="Search" onclick="return checkCustomer()"  style="float: left" class="btn">
			</div>
			<div class='clear'></div>
		</div><!-- filter-box Change by Amit For all case-->
		<div class="filter-box customers">
		<?php 
		
		$showhide = ($_REQUEST['subscriber']!='') ? "show" : "hide"; ?>
			<div class="customer-box <?php echo $showhide;?>">
				<div class="cust-head">
					<div class="left-text" id="customertitles">Select All</div>
					<div class="right-check"><input type="checkbox" id="selectall" value=""></div>
				</div>
				<div id="customer-list" class="customer-list">
					<?php 
					if($_REQUEST['page']!=''){
					$_REQUEST['customers']=explode(',',$_REQUEST['customers']) ;
				} else {
					$_REQUEST['customers']=$_REQUEST['customers'];
				}
					
					if($_REQUEST['subscriber']!=''){
					//print_r($GrpCustomers);
						foreach($GrpCustomers as $gck=>$gcv){
							$check_cust = (in_array($gck, $_REQUEST['customers'])) ? "Checked" : "";
							echo "<div class='cust-box'>";
							echo "<div class='left-text'>".$gcv."</div>";
							echo "<div class='right-check'><input type='checkbox' id='cust-".$gck."' class='cust-chk' name='customers[]' ".$check_cust." value='".$gck."'></div></div>";
						}
					}
					?>
				</div>
			</div>
		</div>
		</form>
	</div><!-- search-box-->
	<div class='clear'></div>
	<div id='report-box'>
	<?php 
	if(isset($_REQUEST['report_submit'])) { 
		if(count($ErrorArray)<1){
			echo "<h3>".ucfirst($CustGrpArray[$_REQUEST['subscriber']])."</h3>";
			if(count($StatArray)>0){
		?>
				<table  class="report-table">
					<thead>
					<tr>
					<?php 
					if(isset($_REQUEST['search_type'])){ echo "<th>".ucfirst($_REQUEST['search_type'])."</th>"; }
						echo "<th>HTML Page Views</th>";
						echo "<th>Unique User Sessions</th>";
						foreach($ModuleArray as $md){
							echo "<th>".ucfirst($md)."</th>";
						}
						
					?>
					</tr>
					</thead>
					<?php 
					
					if(@is_array($StatArray)){
						foreach($StatArray as $sk=>$st){
						ksort($st['stats']);
						$stats = $st['stats'];
						
						if($_REQUEST['search_type']=='date'){
							$timest = strtotime($sk);
							$DateNewFormat = date('M d, Y',$timest);
						} else {
							$myear = ($st['year'] !='' ? ", ".$st['year'] : "");
							$DateNewFormat = substr($MonthArray[$sk], 0,3).$myear;
						}
						
						if(array_key_exists($sk, $StatSessArray)){
							$SessionCount = $StatSessArray[$sk];
							$TotalSessionCount += $StatSessArray[$sk];
						} else {
							$SessionCount = "";
						}
					?>
						<tr>
							<td><?php echo $DateNewFormat;?></td>
							<td><?php echo $st['html_views'];?></td>
							<td><?php echo $SessionCount;?></td>
					<?php
						$gotal['total']['html_views'] += $StatArray[$sk]['html_views'];
						foreach($ModuleArray as $md){
							$gotal['total'][$md] += $StatArray[$sk]['stats'][$md];
							echo "<td>".$stats[$md]."</td>";
						}												
					?>
						</tr>
					<?php } ?>
						<tr>
							<td class="bold">Total</td>
							<td class="bold"><?php echo $gotal['total']['html_views'];?></td>
							<td class="bold"><?php echo $TotalSessionCount;?></td>
							<?php
								foreach($ModuleArray as $md){
									echo "<td class='bold'>".$gotal['total'][$md]."</td>";
								}						
							?>						
						</tr>
					<?php } 
					if($_REQUEST['page']==$totalPages){
					?>
						<tr>
							<td class="bold">G. Total</td>
							<td class="bold"><?php echo $TotalHTMLViews;?></td>
							<td class="bold"><?php echo $CalcTotalSession;?></td>
							<?php
								foreach($ModuleArray as $md){
									echo "<td class='bold'>".$totviews[$md]."</td>";
								}						
							?>						
						</tr>
					<?php } ?>
					</tbody>
				</table>	
	  <?php } else {
				echo "<h4 style='text-align: center;'>No record found!</h4>";
			} 
		}
	} else {
		echo $DashBrdMsg;
	} ?>
	</div><!-- report-box-->
		<div class='report-paging'>
			<?php echo $pagination_html;?>
		</div>
		<div class="clear"></div>
		<?php if(count($StatArray)>0){ ?>
		<div class="btn-section">
			<div class="btnbox"><input type="button" name="print" value="Print" onclick="get_report_print();" class="btn"></div>
			<div class="btnbox"><input type="button" name="download_csv" onclick="get_report_csv();" value="Download as CSV" class="btn"></div>
		</div>
		<?php } ?>
	</div>
	</div>
<div id="printbox" style="display: none;">
	<div class="print_container">
	<div class="print_data"></div></div>
</div>
<?php include "footer.html";?>
	
